<%= @game.player1.name %> attacked <%= @game.player2.name %>
<br>
<%= @game.player2.name%>: <%= @game.player2.hp %>HP
<br>
<%= @game.player1.name %> attacked <%= @game.player2.name %>
<a href='/play'>Ok</a>