<!DOCTYPE html>
<html>
  <h1><%= @game.turn_number %></h1>
  <h1><%= @game.player1.name  + " Vs " + @game.player2.name %></h1>
  <h2><%= @game.player1.name %>: <%= @game.player1.hp %>HP</h2>
  <h2><%= @game.player2.name %>: <%= @game.player2.hp %>HP</h2>
  <% if @game.last_action.empty? %>
    <h2>What do you want to do?</h2>
  <% elsif @game.paralyzed? %>
    <h2><%= @game.turn.name %> <%= @game.last_action %> <%= @game.last_turn_player.name %></h2>
  <% else %>
    <h2><%= @game.last_turn_player.name %> <%= @game.last_action %> <%= @game.turn.name %></h2>
  <% end %>
  <br>
  <h2><%= @game.turn.name %>'s turn</h2>
  <a href='/attack'>Attack</a>
  <a href='/paralyze'>Paralyze</a>
</html>
